<ion-view view-title="{{'Методика '  + vm.taskId}}">
  <ion-content class="{{'task' + vm.taskId}}">
      <div ng-if="vm.taskId==1">
          <div class="errorLabelContainer">
              <div class="errorLabel" ng-show="vm.showErrorMessage">ГРЕШКА</div>
          </div>
          <div class="buttonsContainer" tabindex="0" keydown on-keydown-func="vm.clickTaskButton">
              <!-- бутон прекрати -> към страница с резултати + незавършено! -->
              <div class="taskButton" ng-click="vm.clickTaskButton(0)"><span class="text">Б1</span></div>
              <div class="taskButton" ng-click="vm.clickTaskButton(1)"><span class="text">Б2</span></div>
          </div>
      </div>

      <div ng-if="vm.taskId==2" class="taskHolder">
          <div class="errorLabelContainer">
              <div class="errorLabel" ng-show="vm.showErrorMessage">ГРЕШКА</div>
          </div>

          <div class="signalsHolder">
              <div class="taskSignal {{vm.currSignalColor}}" ng-show="vm.signalShowPosition === 0"></div>
              <div class="taskSignal {{vm.currSignalColor}}" ng-show="vm.signalShowPosition === 1"></div>
              <div class="taskSignal {{vm.currSignalColor}}" ng-show="vm.signalShowPosition === 2"></div>
          </div>

          <div class="buttonsContainer buttonsHolder" tabindex="0" keydown on-keydown-func="vm.clickTaskButton">
              <div class="taskButton red" ng-click="vm.clickTaskButton(0)"><span class="text">Б1</span></div>
              <div class="taskButton green" ng-click="vm.clickTaskButton(1)"><span class="text">Б2</span></div>
              <div class="taskButton blue" ng-click="vm.clickTaskButton(2)"><span class="text">Б3</span></div>
          </div>
      </div>
  </ion-content>

</ion-view>
